@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu:wght@300&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary: #BB86FC;
  --primary-lm: #6200EE;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --secondary-variant: #018786;
  --background: #404040;
  --background-secondary: #282828;
  --background-dm: #181818;
  --background-secondary-dm: #121212;
  --background-lm: #FFFFFF;
  --background-secondary-lm: #eeeeee;
  --background-scroll-lm: #777777;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-error: #FFFFFF;
  --error-dm: #CF6679;
  --error-lm: #B00020;
}

html {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-dm);
  scroll-behavior: smooth;
}

/* --------------Theme Toggle Styles--------------- */
.theme-btn {
  background-color: var(--background-dm);
}

.theme__toggle {
  color: var(--on-primary);
}

.light-mode .theme__toggle {
  color: var(--on-primary);
}

.light-mode .theme-btn {
  background-color: var(--primary-lm);
}

/* --------------General & Icon Styles--------------- */
a {
  color: var(--error-dm);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.icon__bold {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.user-avatar {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.icon__filled {
  color: var(--primary-variant);
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}


.dashboard__btn span {
  font-size: 50px;
}

/* --------------Login, Reset, Register Form Input Styles--------------- */
input[type=text],
input[type=email],
input[type=password],
.login__textBox,
.reset__textBox,
.register__textBox {
  outline: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--background);
  background-color: var(--background-secondary);
  border-radius: 0;
  padding: 0px 10px;
  min-width: 250px;
  height: 40px;
  font-size: 20px;
  color: var(--on-primary);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
  transition: all 0.8s;
}

input[type=email]:focus-visible,
input[type=password]:focus-visible,
input[type=text]:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--secondary);
}

input[type=email],
.login__textBox:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--secondary);
}

/* --------------Login Styles--------------- */
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-secondary);
  border-radius: 6px;
  padding: 30px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login__btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: var(--background-secondary-dm);
}

.login__btn:hover {
  cursor: pointer;
}

.login__google {
  background-color: var(--secondary-variant);
}

.login div {
  margin-top: 7px;
}

/* ---------------Register Styles--------------- */
.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: var(--background);
  padding: 30px;
  border-radius: 6px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  color: var(--on-primary);
  background-color: var(--background-secondary-dm);
  cursor: pointer;
}

.register__google {
  background-color: var(--secondary-variant);
}

.register div {
  margin-top: 7px;
}

/* ---------------Reset Styles--------------- */
.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: var(--background-secondary);
  padding: 30px;
  border-radius: 6px;
}

.reset__btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  color: var(--background-lm);
  background-color: var(--background-secondary-dm);
  cursor: pointer;
}

.reset div {
  margin-top: 7px;
}

/* ---------------Hamburger Menu Styles--------------- */
.menu {
  position: fixed;
  z-index: 2;
}

.menu__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 20px;
  background-color: var(--background-dm);
}

.logo {
  text-decoration: none;
  color: var(--background-lm);
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 24px;
}

.menu__side {
  display: flex;
  gap: 30px;
}

.theme-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__overlay {
  position: fixed;
  background-color: var(--background-secondary-dm);
  z-index: -2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4em;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.lineContainer {
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.lineTop,
.lineMiddle,
.lineBottom {
  height: 2px;
  width: 30px;
  background-color: var(--secondary);
  transition: all 0.5s ease;
}

.lineTop {
  transform: none;
  transform-origin: top left;
  margin-bottom: 5px;
}

.lineMiddle {
  opacity: 1;
  transform: none;
}

.lineBottom {
  transform: none;
  transform-origin: top left;
  margin-top: 5px;
}

.lineTop.spin {
  transform: translateY(-3px) translateX(1px) rotate(35deg);
}

.lineMiddle.slide-out {
  opacity: 0;
  transform: translateX(20px);
}

.lineBottom.spin {
  transform: translateX(-1px) translateY(0px) rotate(-35deg);
}

ul.menu__links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

ul.menu__links li {
  list-style: none;
  position: relative;
  color: var(--background-lm);
  font-size: 40px;
  top: 0;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

ul.menu__links li a {
  color: var(--background-lm);
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  position: relative;
  top: 0;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu__btn {
  list-style: none;
  position: relative;
  color: var(--background-lm);
  background-color: var(--background-secondary-dm);
  cursor: pointer;
  font-size: 40px;
  top: 0;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: 'Ubuntu', sans-serif;
}

.menu__item__wrapper {
  content: "";
  position: absolute;
  top: 120px;
  left: -10%;
  width: 120%;
  height: 100%;
  background-color: var(--background-secondary-dm);
  margin: 0 auto;
}

/* ---------------Dashboard Styles--------------- */
.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-secondary-dm);
}

.dashboard__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 30px;
  color: var(--background-lm);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.dashboard h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.dashboard__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  text-align: center;
  border-radius: 6px;
  border-top: 2px solid var(--secondary);;
  padding: 30px;
}

.dashboard__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-size: 25px;
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 6px;
  color: var(--background-lm);
  background-color: var(--background);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}

.dashboard__btn:hover {
  background-color: var(--secondary-variant);
}

.dashboard__box {
  display: inherit;
  width: 50%;
}

/* ---------------Chat Room Styles--------------- */
.app {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* ---Chat Bubble Styles--- */
.chatroom {
  width: 50%;
  max-width: 1500px;
  min-width: 350px;
  margin-top: 70px;
  height: calc(100% - 70px);
  background-color: var(--background-secondary-dm);
}

.chat-box {
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
  /* transition: all 0.8s; */
}

.message-wrapper {
  padding-top: 50px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: var(--primary);
  color: var(--background-lm);
  width: max-content;
  max-width: calc(100% - 50px);
  /* box-shadow: -2px 2px 1px 1px var(--background-secondary-lm); */
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

#welcome-message {
  background-color: var(--secondary-variant);
}

.light-mode #welcome-message {
  background-color: var(--primary);
}

.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: var(--background-secondary);
  /* box-shadow: -2px 2px 1px 1px var(--background-secondary-lm); */
}

.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--background);
}

.user-message {
  word-wrap: break-word;
  /* word-break: break-all; */
}

.message-time {
  display: block;
  text-align: right;
}

.user-avatar {
  font-size: 35px;
  margin-right: 10px;
}

/* ---Scrollbar Styles--- */
::-webkit-scrollbar {
  width: 7px;
}

/* ---Add color change on mouse wheel scroll --- */
::-webkit-scrollbar-track {
  background: var(--background-secondary-dm);
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-variant);
}

/* ---Messaging Input & Button Styles--- */
.send-message {
  position: fixed;
  bottom: 0px;
  width: 50%;
  min-width: 350px;
  padding: 20px 30px;
  background-color: var(--background-secondary);
  display: flex;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: var(--background-secondary-dm);
  color: var(--background-lm);
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}
.send-message > input:placeholder {
  color: var(--background-lm);
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #03DAC6;
  font-family: 'Ubuntu', sans-serif;
}

.send-message__button-container {
  width: 70px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  background-color: var(--primary);
  z-index: -2;
}

.send-message__button {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: var(--background-dm);
  border: none;
  background-color: var(--primary-variant);
  background: transparent;
  transition: all 0.3s ease;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

.send-message__button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 40px;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--background-secondary);
  border-radius: 0 5px 5px 0;
  box-shadow: inset 2px 1px 2px 0px rgba(3, 218, 197, 0.479),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}

.send-message__button:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.send-message__button:hover::after {
  left: 0;
  width: 100%;
}

.send-message__button::after {
  background-color: var(--secondary);
}

/* ---------------Contact Styles--------------- */
.contact-section__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 150px 100px 100px 100px;
}

.contact-section {
  height: fit-content;
  width: 1300px;
  min-width: 290px;
  height: 500px;
  border-radius: 6px;
}

.contact-section__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-section h1 {
  color: var(--on-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 45px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.contact-section h3 {
  color: var(--on-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding-bottom: 60px;
}

.contact__form-container {
  display: flex;
  width: 100%;
  height: 600px;
  border-radius: 6px;
  padding: 20px;
  background-color: var(--background-secondary);
  }
  
.contact__form-sidecontent {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 50px;
  background-color: var(--primary);
  color: var(--on-primary);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  border-radius: 6px;
  padding: 30px;
  max-width: 350px;
  min-width: 250px
}

.contact__sidecontent-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__sidecontent-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100%;
  transition: all 0.5s;
}

.contact-info1,
.contact-info2,
.contact-info3,
.contact-info4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  border-radius: 100vw;
  transition: all 0.8s;
}

.contact-info1:hover,
.contact-info2:hover,
.contact-info3:hover,
.contact-info4:hover {
  background-color: var(--secondary);
}

.contact__sidecontent-footer a {
  color: var(--on-primary);
  font-size: 20px;
}

.contact__sidecontent-footer a:hover {
  cursor: pointer;
  color: var(--primary-variant);
}

.contact__form-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  color: var(--on-primary);
}

.contact__form-title h2 {
  padding-top: 30px;
}

.contact__form-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
  

.contact__form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 30px;
  width: 100%;
  max-width: 850px;
  padding: 30px;
}

.contact__form label {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  color: var(--on-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: none; */
  -webkit-text-fill-color: var(--on-primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-secondary) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact__form-title [type=text],
.contact__form-title input[type=email] {
  display: flex;
  flex-grow: 1;
  flex-basis: 25%;
  outline: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--background);
  background-color: var(--background-secondary);
  border-radius: 0;
  padding: 0px 10px;
  max-width: 380px;
  min-width: 250px;
  height: 40px;
  font-size: 20px;
  color: var(--on-primary);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
  transition: all 0.8s;
}

.contact__form-title textarea[id=message] {
  margin: 0 0 5px;
  padding: 10px 10px 0px 10px;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  outline: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--background);
  background-color: var(--background-secondary);
  border-radius: 0;
  resize: none;
  text-overflow: ellipsis;
  font-size: 20px;
  color: var(--on-primary);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
  transition: all 0.8s;
}

.contact__form-title input[type=text]:focus-visible,
.contact__form-title input[type=email]:focus-visible,
.contact__form-title textarea[id=message]:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--secondary);
}

.contact__btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.contact__btn {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border-radius: 6px;
  transition: all 0.5s;
  margin: 0;
  color: var(--on-primary);
  background-color: var(--primary);
}

.contact__btn:hover {
  background-color: var(--secondary);
  cursor: pointer;
  color: var(--background-secondary-dm);
}
/* ---------------Modal Styles--------------- */
button {
  border: 0;
  outline: 0;
}

.open {
  width: 360px;
  height: 280px;
  background: var(--background-secondary);
  border-radius: 6px;
  transition: .6s;
  z-index: 100;
  position: absolute;
  top: -310px;
  left: calc(50% - 180px);
}

.open.modal__open {
  top: calc(50% - 140px);
}

.modal__content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--background-lm);
  padding: 1.5rem;
}

.modal__content h4 {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
}

.modal__content h4::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--secondary);
  position: absolute;
  bottom: -7px;
  left: 0;
}

.modal__content h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.modal__content p {
  font-size: 1.1rem;
  color: var(--background-lm);
  text-align: center;
  margin-top: .5rem;
}

.modal__btns {
  height: 30%;
}

.modal__btns button {
  width: 50%;
  height: 100%;
  background: var(--secondary);
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding: 1rem 0;
  cursor: pointer;
}

.modal__btns .left {
  border-bottom-left-radius: 6px;
  background: var(--secondary-variant)
}

.modal__btns .right {
  border-bottom-right-radius: 6px;
  background: var(--error-dm)
}

.modal__btns .left:hover {
  background: var(--secondary);
}

.modal__btns .right:hover {
  background: var(--error-lm);
}


.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.open.modal__open + .overlay {
  display: block;
}

.modal__btn {
  background: var(--secondary);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 4rem;
}

/* ---------------Light Mode Styles--------------- */
.light-mode {
  background-color: var(--background-secondary-lm);
}

/* ---------------Light Mode Top Menu Styles--------------- */
.light-mode .menu__nav {
  background-color: var(--primary-lm);
}

.light-mode .lineTop,
.light-mode .lineMiddle,
.light-mode .lineBottom {
  background-color: var(--on-primary);
}

.theme-btn:hover {
  cursor: pointer;
}

/* ---------------Light Mode Top Menu Overlay Styles--------------- */
.light-mode .menu__overlay,
.light-mode .menu__item__wrapper,
.light-mode .menu__btn{
  background-color: var(--background-lm);
  color: var(--on-secondary);
}

.light-mode ul.menu__links li a {
  color: var(--on-secondary);
}

/* ---------------Light Mode Login Styles--------------- */
.light-mode .login .menu__nav {
  background-color: var(--background-secondary-lm);
}

.light-mode .login__container {
  background-color: var(--background-lm);
}

.light-mode .login__btn {
  background-color: var(--primary-lm);
}

.light-mode .login__google {
  background-color: var(--secondary-variant);
}

/* ---------------Light Mode Register Styles--------------- */
.light-mode .register__container {
  background-color: var(--background-lm);
}

.light-mode .register__btn {
  background-color: var(--primary-lm);
}

.light-mode .register__google {
  background-color: var(--secondary-variant);
}

.light-mode input[type=text],
.light-mode input[type=email],
.light-mode input[type=password],
.light-mode .login__textBox,
.light-mode .reset__textBox,
.light-mode .register__textBox {
  background-color: var(--background-lm);
  border-bottom: 2px solid var(--background-secondary-lm);
  color: var(--on-secondary);
}

.light-mode input[type=email]:focus-visible,
.light-mode input[type=password]:focus-visible,
.light-mode input[type=text]:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--secondary);
}

.light-mode input[type=email],
.light-mode .login__textBox:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--secondary);
}

.light-mode input:-webkit-autofill,
.light-mode input:-webkit-autofill:hover, 
.light-mode input:-webkit-autofill:focus,
.light-mode textarea:-webkit-autofill,
.light-mode textarea:-webkit-autofill:hover,
.light-mode textarea:-webkit-autofill:focus,
.light-mode select:-webkit-autofill,
.light-mode select:-webkit-autofill:hover,
.light-mode select:-webkit-autofill:focus {
  /* border: none; */
  -webkit-text-fill-color: var(--on-secondary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-lm) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ---------------Light Mode Reset Styles--------------- */
.light-mode .reset__container {
  background-color: var(--background-lm);
}

.light-mode .reset__btn {
  background-color: var(--primary-lm);
}

/* ---------------Light Mode ChatRoom Styles--------------- */
.light-mode .chatroom {
  background-color: var(--background-lm);
}

.light-mode .chat-box {
  background-color: var(--background-lm);
}

.light-mode .chat-bubble {
  background-color: var(--secondary);
}

.light-mode .chat-bubble.right  {
  background-color: var(--background-secondary-lm);
}

.light-mode .user-name,
.light-mode .user-message,
.light-mode .user-avatar {
  color: var(--on-secondary);
}

.light-mode .send-message {
  background-color: var(--primary-lm);
}

.light-mode .send-message > input {
  background-color: var(--background-lm);
  color: var(--on-secondary);
}

/* ---------------Light Mode Dashboard Styles--------------- */
.light-mode .dashboard {
  background-color: var(--background-lm);
}

.light-mode .dashboard__title {
  color: var(--on-secondary);
} 

.light-mode .dashboard__container {
  border-top: 2px solid var(--primary-variant);
}

.light-mode .dashboard__btn {
  background-color: var(--secondary-variant);
}

.light-mode .dashboard__btn:hover {
  background-color: var(--primary-lm);
}

/* ---------------Light Mode Scrollbar Styles--------------- */
/* ---Scrollbar Styles--- */
.light-mode ::-webkit-scrollbar {
  width: 7px;
}

/* ---Add color change on mouse wheel scroll --- */
.light-mode ::-webkit-scrollbar-track {
  background: var(--background-lm);
}

.light-mode ::-webkit-scrollbar-thumb {
  background: var(--background-scroll-lm);
  border-radius: 10px;
}

.light-mode ::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-variant);
}

/* ---------------Light Mode Contact Styles--------------- */
.light-mode .contact-section__container {
  background-color: var(--background-secondary-lm);
}

.light-mode .contact-section h1,
.light-mode .contact-section h3 {
  color: var(--on-secondary);
}

.light-mode .contact__form-container {
  background-color: var(--background-lm);
}

.light-mode .contact__form-title {
  color: var(--on-secondary);
}

.light-mode .contact__form-sidecontent,
.light-mode .contact__btn {
  background-color: var(--primary-lm);
}

.light-mode .contact-info1,
.light-mode .contact-info2,
.light-mode .contact-info3,
.light-mode .contact-info4 {
  background-color: var(--primary-lm);
}

.light-mode .contact-info1:hover,
.light-mode .contact-info2:hover,
.light-mode .contact-info3:hover,
.light-mode .contact-info4:hover {
  background-color: var(--secondary);
}

.light-mode .contact__form-title [type=text], 
.light-mode .contact__form-title [type=email],
.light-mode .contact__form-title [id=message] {
  background-color: var(--background-lm);
  border-bottom: 2px solid var(--background-secondary-lm);
  color: var(--on-secondary);
}

.light-mode .material-symbols-outlined.icon__filled {
  color: var(--primary);
}

.light-mode .contact__btn:hover {
  background-color: var(--secondary);
}

@media screen and (max-width: 1250px) {
  .contact__form-container {
    height: unset;
  }

  .contact__form {
    gap: 50px;
  }

  .contact__form-title {
    flex-grow: unset;
    flex-shrink: unset;
    justify-content: flex-end;
    width: 380px;
  }

  .contact__form-title label {
    justify-content: flex-end;
  }

  .contact__form label textarea[id=message] {
    max-width: 380px;
    min-width: 284px;
    flex-basis: 25%;
  }

  .contact__btn-container {
    display: flex;
    justify-content: center;
  }

  .contact__btn {
    width: 380px;
  }
}

@media screen and (max-width: 900px) {
   .contact-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-section__container {
    min-height: 1550px;
  }

  .contact__form {
    padding: unset;
  }

  .contact__form-container {
    flex-direction: column;
    max-width: 500px;
    gap: 50px;
  }

  .contact__form-sidecontent {
    max-width: unset;
    padding: 15px;
  }

  .contact__sidecontent-footer {
    justify-content: center;
  }

  .contact__btn {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  ul.menu__links li a,
  .menu__btn {
    font-size: 20px;
  }

  .login__container {
    width: unset;
  }

  .dashboard {
    height: calc(100vh + 70px);
  }

  .dashboard__container {
    gap: 30px;
  }

  .dashboard__btn {
    width: 200px;
    height: 75px;
    font-size: 15px;
  }

  .dashboard__btn span {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .chatroom {
    width: 100%;
    background-color: var(--background-dm);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--background-dm);
  }
  
  .send-message {
    width: 100%;
  }

  .dashboard h2 {
    font-size: 30px;
  }

  .contact__sidecontent-footer {
    gap: 0px;
  }
}

@media screen and (max-width: 450px) {
  .confirm {
    width: 300px;
    left: calc(50% - 150px);
  }

  .dashboard__title {
    padding-top: 75px;
  }

  .dashboard h2 {
    font-size: 25px;
  }

  .contact-section__container {
    padding: 150px 10px 10px;
  }
}

@media screen and (max-width: 300px) {
  .dashboard__container {
  width: 280px;
  gap: 5px;
}

  .dashboard h2 {
  font-size: 20px;
}
}

@media screen and (max-height: 700px) {
  .dashboard__title {
    margin-top: 20px;
  }
}

@media screen and (max-height: 675px) {
  .dashboard {
    align-items: unset;
    justify-content: unset;
    /* background-color: unset; */
    height: calc(100vh + 200px);
  }
}

@media screen and (max-height: 500px) {
  .dashboard {
    align-items: unset;
    justify-content: unset;
    /* background-color: unset; */
    height: calc(100vh + 400px);
  }

  ul.menu__links li a,
  .menu__btn {
    font-size: 18px;
  }

  .dashboard__title {
    margin-top: 50px;
  }

  .light-mode {
    background-color: var(--background-lm);
  }
}
