@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu:wght@300&display=swap');

#root {
  --primary: #0E2431;
  --secondary: #4070F4;
  --secondary-dark: #3665EB;
  --gray: #666;
  width: 100vw;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #181818;
}

/* --------------General & Icon Styles--------------- */
a {
  color: red;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.user-avatar {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.dashboard__btn span {
  font-size: 50px;
}

/* --------------Login Styles--------------- */
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #404040;
  border-radius: 6px;
  padding: 30px;
}
input,
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 6px;
}
/* input[type=text] {
  font-size: 18px;
} */
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: black;
}
.login__btn:hover {
  cursor: pointer;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}

/* ---------------Register Styles--------------- */
.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
input,
.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: black;
}
.register__google {
  background-color: #4285f4;
}
.register div {
  margin-top: 7px;
}

/* ---------------Reset Styles--------------- */
.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
input,
.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: black;
}
.reset div {
  margin-top: 7px;
}

/* ---------------Hamburger Menu Styles--------------- */
/* .menu {
  width: 100%;
  height: 50px;
  background-color: #282828;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__btn {
  background-color: #282828;
  display: flex;
  padding-left: 1.25em;
  position: relative;
  border: none;
}

.menu__btn:before {
  content: "";
  position: relative; */
  /* left: 10px; */
  /* top: .8em;
  bottom: .8em; */
  /* width: 2em;
  height: 1.5em;
  background: linear-gradient(
    to bottom, 
    #FFFFFF, #FFFFFF 20%, 
    #282828 20%, #282828 40%, 
    #FFFFFF 40%, #FFFFFF 60%, 
    #282828 60%, #282828 80%, 
    #FFFFFF 80%, #FFFFFF 100%
  ); 
}*/

.menu {
  position: fixed;
  z-index: 2;
}

.menu__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 20px;
  background-color: #181818;
}

.logo {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  text-transform: uppercase;
}

.menu__toggle {
  cursor: pointer;
}

.menu__overlay {
  position: fixed;
  background-color: #121212;
  z-index: -2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4em;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

/* S */

/* .lineTop,
.lineBottom {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.lineTop {
  top: 2.2em;
}

.lineBottom {
  bottom: 2.2em;
}

.lineTop.spin {
  top: 2.35em;
  transform: rotate(135deg);
  background: #fff;
}

.lineBottom.spin {
  bottom: 2.35em;
  transform: rotate(225deg);
  background: #fff;
} */

.lineContainer {
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.lineTop,
.lineMiddle,
.lineBottom {
  height: 2px;
  width: 30px;
  background-color: #4070F4;
  transition: all 0.5s ease;
}

.lineTop {
  transform: none;
  transform-origin: top left;
  margin-bottom: 5px;
}

.lineMiddle {
  opacity: 1;
  transform: none;
}

.lineBottom {
  transform: none;
  transform-origin: top left;
  margin-top: 5px;
}

.lineTop.spin {
  transform: translateY(-3px) translateX(1px) rotate(35deg);
}

.lineMiddle.slide-out {
  opacity: 0;
  transform: translateX(20px);
}

.lineBottom.spin {
  transform: translateX(-1px) translateY(0px) rotate(-35deg);
}

/* .lineTop.spin {
  top: 2.35em;
  transform: rotate(135deg);
  background: #fff;
}

.lineBottom.spin {
  bottom: 2.35em;
  transform: rotate(225deg);
  background: #fff;
} */


ul.menu__links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

ul.menu__links li {
  list-style: none;
  position: relative;
  color: #fff;
  /* cursor: pointer; */
  font-size: 40px;
  top: 0;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

ul.menu__links li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  position: relative;
  top: 0;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

/* ul.menu__links li a:hover {
  color: #3665EB;
  transition-delay: 0ms;
} */

/* li.menu__item:hover {
  transition-delay: unset;
  transition: none;
  color: #3665EB;
  border-bottom: 2px solid red;
} */

.menu__btn {
  list-style: none;
  position: relative;
  color: #fff;
  background-color: #121212;
  cursor: pointer;
  font-size: 40px;
  top: 0;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: 'Ubuntu', sans-serif;
}

.menu__item__wrapper {
  content: "";
  position: absolute;
  top: 120px;
  left: -10%;
  width: 120%;
  height: 100%;
  background-color: #121212;
  margin: 0 auto;
}

/* ---------------Dashboard Styles--------------- */
.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
}

.dashboard h2 {
  display: inherit;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  color: whitesmoke;
}

.dashboard h4 {
  font-family: 'Ubuntu', sans-serif;
}

.dashboard__container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  /* height: 80%; */
  text-align: center;
  /* background-color: #404040; */
  border-radius: 6px;
  border-top: 2px solid var(--secondary);;
  padding: 30px;
}

.dashboard__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 6px;
  color: whitesmoke;
  background-color: #282828;
  cursor: pointer;
}

.dashboard__btn::before {

}

.dashboard__btn::after {

}

.dashboard__btn:hover {
  background-color: #404040;
}

.dashboard__box {
  display: inherit;
  width: 50%;
  /* width: 50%;
  height: 15%; */
}

/* ---------------Chat Room Styles--------------- */
.app {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* ---Chat Bubble Styles--- */
.chatroom {
  /* display: flex;
  justify-content: center; */
  width: 50%;
  max-width: 1500px;
  min-width: 350px;
  margin-top: 70px;
  height: calc(100% - 70px);
  background-color: #121212;
  border-radius: 50px;
}

.chat-box {
  width: 100%;
  height: calc(100% - 90px);
}

.message-wrapper {
  padding: 70px 15px;
  margin-bottom: 60px;
}
.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #39ace7;
  color: #FFFFFF;
  width: max-content;
  max-width: calc(100% - 50px);
  /* box-shadow: -2px 2px 1px 1px #4c768d; */
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #282828;
  /* box-shadow: -2px 2px 1px 1px #88dded; */
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #414c50;
}
.user-message {
  word-break: break-all;
}
.message-time {
  display: block;
  text-align: right;
}

.user-avatar {
  font-size: 35px;
  margin-right: 10px;
}

/* ---Messaging Input & Button Styles--- */
.send-message {
  position: fixed;
  bottom: 0px;
  width: 50%;
  min-width: 350px;
  padding: 20px 30px;
  background-color: #282828;
  display: flex;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: #161618;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}
.send-message > input:placeholder {
  color: #ddd;
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #39ace7;
  font-family: 'Ubuntu', sans-serif;
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  border: 1px solid #7cc5d9;
  background-color: #39ace7;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}


/* ---------------Modal Styles--------------- */
button {
  border: 0;
  outline: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.open {
  width: 360px;
  height: 280px;
  background: #fff;
  border-radius: 6px;
  transition: .6s;
  z-index: 100;
  position: absolute;
  top: -310px;
  left: calc(50% - 180px);
}

.open.modal__open {
  top: calc(50% - 140px);
}

.modal__content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  padding: 1.5rem;
}

.modal__content h4 {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
}

.modal__content h4::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--secondary);
  position: absolute;
  bottom: -7px;
  left: 0;
}

.modal__content h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.modal__content p {
  font-size: 1.1rem;
  color: var(--gray);
  text-align: center;
  margin-top: .5rem;
}

.modal__btns {
  height: 30%;
}

.modal__btns button {
  width: 50%;
  height: 100%;
  background: var(--secondary);
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding: 1rem 0;
  cursor: pointer;
}

.modal__btns .left {
  border-bottom-left-radius: 6px;
  background: var(--secondary)
}

.modal__btns .right {
  border-bottom-right-radius: 6px;
  background: var(--secondary-dark)
}

.modal__btns .left:hover {
  background: var(--primary);
}

.modal__btns .right:hover {
  background: var(--primary);
}


.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.open.modal__open + .overlay {
  display: block;
}

.modal__btn {
  background: var(--secondary);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 4rem;
}

@media screen and (max-width: 450px) {
  .confirm {
    width: 300px;
    left: calc(50% - 150px);
  }
}






/* ---------------TEST Styles--------------- */

button {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #1c2c4c;
  color: #4c768d;
}

/* navbar */
.nav-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c768d;
  color: #242443;
  height: 60px;
}
.sign-in {
  border: none;
  background-color: transparent;
}
.sign-in > img {
  height: 30px;
  width: auto;
}
.sign-out {
  padding: 5px 10px;
  border-radius: 5px;
  color: #88dded;
  border: 1px solid #1c2c4c;
  background-color: #1c2c4c;
  font-weight: 600;
}

/* welcome page */
.welcome {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  color: #7cc5d9;
}
.welcome :is(h2, p, img) {
  margin-bottom: 20px;
}



